.advantages {
  position: relative;
  grid-row: 3/4;
  grid-column: 1/3;

  margin-top: 30px;

  @media (max-width: $max-tablet) {
    grid-row: 4/5;
    margin-top: 20px;
  }

  &::before {
    content: "";
    position: absolute;
    top: -32px;
    width: 310px;
    height: 1px;
    background-color: var(--gray-03);

    @media (max-width: $max-tablet) {
      top: -20px;
      width: 248px;
    }
  }
}

.advantages__item {
  position: relative;
  padding-left: 30px;

  line-height: 32px;
  color: var(--grayish);

  &:not(:last-child) {
    margin-bottom: 16px;

    @media (max-width: $max-tablet) {
      margin-bottom: 10px;
    }
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 10px;
    width: 15px;
    height: 15px;
    background-image: url("../img/arrow-coral.svg");
    background-repeat: no-repeat;
  }
}
