.banner {
  min-height: 860px;
  padding-top: 187px;

  color: var(--white);

  background-color: var(--background);

  background-image: url(../img/background-banner.jpg);
  background-size: cover;
  background-position: center center;

  @media (min-resolution: $resolution) {
    background-image: url(../img/background-banner@2x.jpg);
  }

  @media (max-width: $max-tablet) {
    min-width: 768px;
    min-height: 344px;
    padding-top: 60px;

    background-image: url(../img/background-banner-tablet.jpg);

    @media (min-resolution: $resolution) {
      background-image: url(../img/background-banner-tablet@2x.jpg);
    }
  }

  @media (max-width: $max-mobile) {
    min-width: 320px;
    min-height: 235px;
    padding-top: 81px;
    margin-bottom: 200px;

    background-image: url(../img/background-banner-mobile.jpg);

    @media (min-resolution: $resolution) {
      background-image: url(../img/background-banner-mobile@2x.jpg);
    }
  }
}

.banner__wrapper {
  width: min-content;
  margin-right: 97px;

  @media (max-width: $max-tablet) {
    margin: 0 auto;
  }

  @media (max-width: $max-mobile) {
    position: relative;
  }
}

.banner__title {
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 55px;
  line-height: 80px;
  letter-spacing: -1.11px;

  @media (max-width: $max-tablet) {
    margin-bottom: 15px;
    font-size: 30px;
    line-height: 150%;
    letter-spacing: 0;
    text-align: center;
  }

  @media (max-width: $max-mobile) {
    font-size: 24px;
  }
}

.banner__transfer {
  @media (max-width: $max-tablet) {
    display: none;
  }

  &--mobile {
    @media (min-width: $min-tablet) {
      display: none;
    }
  }
}

.banner__inner {
  width: 90%;

  @media (max-width: $max-tablet) {
    width: 102%;
    margin: 0 auto;
  }

  @media (max-width: $max-mobile) {
    position: absolute;
    min-width: 288px;
    top: 174px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.banner__text {
  margin-bottom: 33px;
  line-height: 170%;
  letter-spacing: -0.47px;

  @media (max-width: $max-tablet) {
    margin-bottom: 15px;
    font-size: 16px;
    text-align: center;
  }

  @media (max-width: $max-mobile) {
    margin-bottom: 20px;
    color: var(--grayish);
  }
}

.banner__transfer-text {
  @media (max-width: $max-tablet) {
    display: none;
  }
}

.banner__transfer-tablet {
  display: none;

  @media (max-width: $max-tablet) {
    display: block;
  }
}

.banner__link {
  justify-content: space-between;
  width: 340px;
  padding: 10px 38px;

  @media (max-width: $max-tablet) {
    width: 250px;
    margin: 0 auto;
  }

  @media (max-width: $max-mobile) {
    width: 288px;
  }
}
