.banner {
  min-height: 860px;
  padding-top: 187px;

  color: var(--white);

  background-color: var(--background);

  background-image: url("../img/background-banner.jpg");
  background-size: cover;
  background-position: center center;

  @media (min-resolution: $resolution) {
    background-image: url("../img/background-banner@2x.jpg");
  }

  @media (max-width: $max-tablet) {
    min-width: 768px;
    min-height: 344px;
    padding-top: 60px;

    background-image: url("../img/background-banner-tablet.jpg");

    @media (min-resolution: $resolution) {
      background-image: url("../img/background-banner-tablet@2x.jpg");
    }
  }

  @media (max-width: $max-mobile) {
    min-width: 320px;
    min-height: 235px;
    padding-top: 81px;
    margin-bottom: 200px;

    background-image: url("../img/background-banner-mobile.jpg");

    @media (min-resolution: $resolution) {
      background-image: url("../img/background-banner-mobile@2x.jpg");
    }
  }
}

.banner__wrapper {
  display: flex;
  justify-content: flex-end;

  @media (max-width: $max-tablet) {
    justify-content: center;
  }
}

.banner__text-wrapper {
  max-width: 400px;
  margin-right: 75px;

  @media (max-width: $max-tablet) {
    margin: 0 auto;
  }

  @media (max-width: $max-mobile) {
    max-width: 100%;
  }
}

.banner__title {
  margin-bottom: 30px;

  line-height: 80px;
  letter-spacing: -1.11px;
  color: var(--white);

  @media (max-width: $max-tablet) {
    margin-bottom: 15px;

    line-height: 150%;
    letter-spacing: 0;
    text-align: center;
  }
}

.banner__transfer {
  @media (max-width: $max-tablet) {
    display: none;
  }

  &--mobile {
    @media (min-width: $min-tablet) {
      display: none;
    }
  }
}

.banner__inner {
  margin-right: 20px;

  @media (max-width: $max-tablet) {
    margin: 0 auto;
  }

  @media (max-width: $max-mobile) {
    position: relative;
    top: 225px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.banner__text {
  margin-bottom: 33px;
  line-height: 170%;
  letter-spacing: -0.47px;

  @media (max-width: $max-tablet) {
    margin-bottom: 15px;
    font-size: 16px;
    text-align: center;
  }

  @media (max-width: $max-mobile) {
    margin-bottom: 20px;
    color: var(--grayish);
  }
}

.banner__transfer-text {
  @media (max-width: $max-tablet) {
    display: none;
  }
}

.banner__link {
  justify-content: space-between;
  width: 340px;
  padding: 10px 38px;

  @media (max-width: $max-tablet) {
    width: 250px;
    margin: 0 auto;
  }

  @media (max-width: $max-mobile) {
    width: 288px;
  }
}

.banner__svg {
  fill: var(--transparent);
}
