.contacts {
  padding-left: 90px;

  @media (max-width: $big-tablet) {
    padding-left: 50px;
  }

  @media (max-width: $max-mobile) {
    grid-row: 2/3;
    padding-top: 30px;
    padding-left: 0;
  }
}

.contacts__item {
  padding-left: 40px;

  @media (max-width: $max-mobile) {
    padding-left: 50px;
  }

  &:not(:last-child) {
    margin-bottom: 15px;

    @media (max-width: $big-tablet) {
      margin-bottom: 10px;
    }
  }
}

.contacts__link {
  position: relative;
  font-size: 14px;
  line-height: 17px;
  text-decoration-line: underline;
  color: var(--coral);

  &--tel {
    font-size: 16px;
    line-height: 32px;
  }

  &:hover,
  &:focus {
    color: var(--black);
  }
}

.contacts__svg {
  position: absolute;

  &--email {
    top: -4px;
    left: -40px;
    width: 26px;
    height: 20px;
  }

  &--tel {
    top: -6px;
    left: -38px;
    width: 23px;
    height: 24px;
  }
}
