.footer {
  display: flex;
  padding-top: 33px;
  padding-bottom: 80px;

  @media (max-width: $max-mobile) {
    padding-top: 33px;
  }
}

.footer__wrapper {
  display: grid;
  grid-template-columns: 400px 390px 370px;

  margin: 0 auto;

  @media (max-width: $big-tablet) {
    grid-template-columns: 408px 350px;
    grid-template-rows: auto auto;
    row-gap: 20px;
    padding-left: 5px;
  }

  @media (max-width: $max-mobile) {
    grid-template-columns: 288px;
    grid-template-rows: auto auto auto;
    row-gap: 12px;
    padding-left: 10px;
  }
}

.footer__title {
  margin-bottom: 20px;

  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  color: var(--dark);

  @media (max-width: $big-tablet) {
    margin-bottom: 20px;
  }
}

.next-trips__list {
  &:not(:last-child) {
    margin-right: 50px;

    @media (max-width: $big-tablet) {
      margin-right: 47px;
    }

    @media (max-width: $max-mobile) {
      margin-right: 0;
    }
  }

  @media (max-width: $max-mobile) {
    &:first-child {
      margin-right: 74px;
    }

    &:last-child {
      margin-top: 14px;
    }
  }
}

.footer__content-block {
  &:not(:last-child) {
    border-right: 1px solid var(--light-gray);

    @media (max-width: $max-mobile) {
      border-right: none;
    }
  }

  @media (max-width: $big-tablet) {
    &:nth-child(2) {
      border-right: none;
    }
  }

  @media (max-width: $max-mobile) {
    text-align: center;

    &:not(:first-child) {
      border-top: 1px solid var(--light-gray);
    }
  }
}
