.next-trips {
  padding-left: 12px;

  @media (max-width: $big-tablet) {
    padding-left: 14px;
  }

  @media (max-width: $max-mobile) {
    padding-left: 0;
  }
}

.next-trips__wrapper {
  display: flex;

  @media (max-width: $max-mobile) {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.next-trips__item {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 17px;
  color: var(--gray-05);
}
