.places {
  padding-top: 200px;
  padding-right: 10px;
  padding-left: 10px;

  @media (max-width: $max-tablet) {
    padding-top: 80px;
    text-align: center;
  }

  @media (max-width: $max-mobile) {
    padding-top: 102px;
    padding-right: 16px;
    padding-left: 16px;
  }
}

.places__title {
  margin-bottom: 68px;
  line-height: 80px;

  &::after {
    bottom: -34px;

    width: 229px;
    height: 4px;
  }

  @media (max-width: $max-tablet) {
    margin-bottom: 20px;
    line-height: 45px;
  }

  @media (max-width: $max-mobile) {
    margin-bottom: 15px;
  }
}

.places__transfer {
  @media (max-width: $max-tablet) {
    display: none;
  }
}

.places__text {
  margin-bottom: 56px;
  letter-spacing: -0.47px;

  @media (max-width: $max-tablet) {
    margin-bottom: 40px;
  }

  @media (max-width: $max-mobile) {
    margin-bottom: 20px;
  }
}

.places__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  @media (max-width: $min-desktop) {
    margin-left: 70px;
    margin-right: 70px;
  }

  @media (max-width: $max-mobile) {
    width: 288px;
    margin: 0 auto;
  }
}

.places__item {
  position: relative;
  margin-bottom: 90px;

  &:not(:nth-child(3n)) {
    margin-right: 60px;

    @media (max-width: $min-desktop) {
      margin-right: 0;
    }
  }

  &:not(:nth-child(2n)) {

    @media (max-width: $min-desktop) {
      margin-right: 30px;
    }

    @media (max-width: $max-mobile) {
      margin-right: 0;
    }
  }

  &:nth-child(5) {
    margin-left: 60px;
    margin-right: 0;

    @media (max-width: $max-tablet) {
      margin-left: 0;
      margin-top: 10px;
    }

    @media (max-width: $max-mobile) {
      margin-top: 0;
    }
  }

  @media (max-width: $max-tablet) {
    margin-bottom: 12px;
  }

  @media (max-width: $max-mobile) {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 27px;
    margin-left: 0px;
  }

  &::after {
    content: "";
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }

  &:hover::after {
    position: absolute;
    top: 0;
    left: 0;

    display: block;
    width: 100%;
    height: 98.5%;
    z-index: 2;

    background: var(--dark-06);
    opacity: 0.8;
  }

  &:hover .places__more {
    z-index: 3;
    opacity: 1;
  }
}

.places__more {
  position: absolute;
  top: 177px;
  left: 42px;

  width: 266px;
  height: 77px;

  font-weight: 500;
  font-size: 14px;
  line-height: 17px;

  display: flex;
  align-items: center;
  justify-content: center;

  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--white);
  border: 1px solid var(--white);
  opacity: 0;
  transition: opacity 0.5s;

  @media (max-width: $max-tablet) {
    left: 20px;
    width: 250px;
  }
}

.places__figure {
  position: relative;
  margin: 0;
}

.places__img {
  width: 350px;
  height: 430px;

  @media (max-width: $max-tablet) {
    width: 288px;
    height: 425px;
  }

}

.places__subtitle {
  position: absolute;
  left: 68px;
  bottom: 7px;

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;

  width: 215px;
  height: 63px;

  font-weight: 500;
  font-size: 24px;
  line-height: 29px;

  background-color: var(--white);
  color: var(--grayish);

  @media (max-width: $max-tablet) {
    left: 35px;
    height: 61px;
  }
}
