.container {
  max-width: $max-desktop;
  min-width: $min-mobile;
  margin: 0 auto;
  padding-left: 137px;
  padding-right: 137px;

  @media (max-width: $big-tablet) {
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (max-width: $max-tablet) {
    padding-left: 0;
    padding-right: 0;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.text {
  margin: 0;
}

.title {
  position: relative;
  font-weight: 600;
  font-size: 55px;
  line-height: 90px;
  letter-spacing: -1.25px;
  color: var(--grayish);

  &::after {
    content: "";
    position: absolute;
    left: 0;
    background-color: var(--coral);

    @media (max-width: $max-tablet) {
      display: none;
    }
  }

  @media (max-width: $max-tablet) {
    font-weight: 600;
    font-size: 30px;
    line-height: 150%;
    letter-spacing: 0;
    text-align: center;
  }

  @media (max-width: $max-mobile) {
    font-size: 24px;
    line-height: 36px;
  }
}

.button {
  min-height: 75px;

  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;

  color: var(--white);
  background-color: var(--coral);

  &--flex {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @media (max-width: $max-tablet) {
    height: 50px;

    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
  }

  &:hover,
  &:focus {
    background-color: var(--orange);
  }
}

.image {
  vertical-align: middle;
}

.phone-svg {
  fill: var(--transparent);
}
