:root {
  --transparent: transparent;
  --white: #ffffff;
  --light-gray: #D7D9DF;
  --gray: #FBF8F8;

  --black: #000000;
  --grayish: #2C2E3F;
  --dark-gray: #48494D;
  --dark: #141517;

  --white-04: rgba(255, 255, 255, 0.4);
  --white-09: rgba(255, 255, 255, 0.9);

  --black-01: rgba(0, 0, 0, 0.1);
  --dark-01: rgba(41, 54, 66, 0.1);
  --gray-02: rgba(20, 21, 23, 0.2);
  --gray-03: rgba(44, 46, 63, 0.3);
  --light-gray-05: rgba(44, 46, 63, 0.5);
  --gray-05: rgba(20, 21, 23, 0.5);
  --dark-06: rgba(20, 21, 23, 0.6);
  --dark-07: rgba(44, 46, 63, 0.7);
  --gray-07: rgba(20, 21, 23, 0.7);

  --coral: #FE7865;
  --orange: #F17D4B;

  --background: #527AA4;
}

$max-desktop: 1445px;
$min-desktop: 1207px;
$min-tablet: 768px;
$max-tablet: 1023px;
$min-mobile: 320px;
$max-mobile: 767px;
$closer-tablet: 650px;
$big-mobile: 584px;
$resolution: 2dppx;
